.blocked {
    animation-name: blockAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.visited-slow {
    animation-name: visitedAnimation;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.visited-average {
    animation-name: visitedAnimation;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.visited-fast {
    animation-name: visitedAnimation;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.path {
    animation-name: shortestPath;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes visitedAnimation {
    0% {
        transform: scale(0.2);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(0, 110, 255, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(25, 217, 0, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 218, 160, 0.75);
    }
}

@keyframes blockAnimation {
    0% {
        transform: scale(0.9);
        background-color: black;
        border-radius: 100%;
    }

    100% {
        transform: scale(1);
        background-color: #161233;
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 25, 25);
    }

    50% {
        transform: scale(1.2);
        background-color: #ffac75;
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}
